<% if obj.errors.present? %>
  <div id="errors" class="border border-danger rounded mb-3 pt-2 px-2">
    <h3>エラーがあります。</h3>
    <ul>
      <% obj.errors.full_messages.each do|msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
