// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*.post_form {
  background-color: #ddd;
  border: 1px solid #dcd;
  padding: 20px 0;
  margin-bottom: 10px;
}

.post_form img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 60px;
}

.post_form h3 {
  padding-left: 10px;
}

.post_form .body {
  border-top: 1px solid black;
  padding: 10px 5px 0;
}

.link {
  padding-bottom: 10px;
}

// show //
.post img {
  width: 300px;
}

.post_picture img {
  width: 300px;
}*/
