<% @page_title = "アカウント情報の編集" %>
<h1 class="text-center"><%= @page_title %></h1>

<div class="mx-auto col-12 col-lg-8">
  <%= form_for @user, as: "account", url: :account do |form| %>
    <%= render "shared/user_form", form: form %>
    <%= form.submit "更新", class: "btn btn-primary btn-lg mt-5" %>
  <% end %>
</div>
